<a href="https://colab.research.google.com/github/iseong77/Python/blob/main/%EA%B3%BC%EC%A0%9C9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(0,3,1):
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [6]:
for i in [0,1,2,3,4]:
  print("컴퓨터과 3학년 1반")

컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반

In [9]:
for i in ["봄, 여름, 가을, 겨울"]:
  print(i, "컴퓨터과 3학년 1반")

봄, 여름, 가을, 겨울 컴퓨터과 3학년 1반

In [10]:
for i  in range(1,11,1):
  print(i, "컴퓨터과")

1 컴퓨터과
2 컴퓨터과
3 컴퓨터과
4 컴퓨터과
5 컴퓨터과
6 컴퓨터과
7 컴퓨터과
8 컴퓨터과
9 컴퓨터과
10 컴퓨터과

In [11]:
for i in range(2,6,1):
  print(i, end=" ")

2 3 4 5

In [12]:
result = 1

for i in range(1,6,1):
  result = result * i

  print("A B C D E 학생들을 순서대로 세우는 경우의 수", result)

A B C D E 학생들을 순서대로 세우는 경우의 수 1
A B C D E 학생들을 순서대로 세우는 경우의 수 2
A B C D E 학생들을 순서대로 세우는 경우의 수 6
A B C D E 학생들을 순서대로 세우는 경우의 수 24
A B C D E 학생들을 순서대로 세우는 경우의 수 120

In [16]:
sum = 0

for i in range(1,11,1):
    sum = sum + i
print(sum)

55

In [20]:
odd_sum = 0
for i in range(1001,2001,2):
  odd_sum = odd_sum +i
print(odd_sum)

750000

In [25]:
odd_sum = 0
for i in range(1000,2001,1):
  if i%2 == 1:
    odd_sum = odd_sum + i
print(odd_sum)

750000

In [32]:
i, hap = 0, 0
for i in range(500,1001,1):
  if i%2 == 0:
    hap = hap + i
print("500에서 1000까지의 짝수의 합:", hap)

500에서 1000까지의 짝수의 합: 188250

In [33]:
for i in range(3):
  for k in range(2):
    print("중첩 for문 입니다")

중첩 for문 입니다
중첩 for문 입니다
중첩 for문 입니다
중첩 for문 입니다
중첩 for문 입니다
중첩 for문 입니다

In [38]:
for i in range(2,10,):
  for k in range(1,10,1):
    print(i, "x", k, "=", i*k, end= " ")
  print("\n")

2 x 1 = 2 2 x 2 = 4 2 x 3 = 6 2 x 4 = 8 2 x 5 = 10 2 x 6 = 12 2 x 7 = 14 2 x 8 = 16 2 x 9 = 18

3 x 1 = 3 3 x 2 = 6 3 x 3 = 9 3 x 4 = 12 3 x 5 = 15 3 x 6 = 18 3 x 7 = 21 3 x 8 = 24 3 x 9 = 27

4 x 1 = 4 4 x 2 = 8 4 x 3 = 12 4 x 4 = 16 4 x 5 = 20 4 x 6 = 24 4 x 7 = 28 4 x 8 = 32 4 x 9 = 36

5 x 1 = 5 5 x 2 = 10 5 x 3 = 15 5 x 4 = 20 5 x 5 = 25 5 x 6 = 30 5 x 7 = 35 5 x 8 = 40 5 x 9 = 45

6 x 1 = 6 6 x 2 = 12 6 x 3 = 18 6 x 4 = 24 6 x 5 = 30 6 x 6 = 36 6 x 7 = 42 6 x 8 = 48 6 x 9 = 54

7 x 1 = 7 7 x 2 = 14 7 x 3 = 21 7 x 4 = 28 7 x 5 = 35 7 x 6 = 42 7 x 7 = 49 7 x 8 = 56 7 x 9 = 63

8 x 1 = 8 8 x 2 = 16 8 x 3 = 24 8 x 4 = 32 8 x 5 = 40 8 x 6 = 48 8 x 7 = 56 8 x 8 = 64 8 x 9 = 72

9 x 1 = 9 9 x 2 = 18 9 x 3 = 27 9 x 4 = 36 9 x 5 = 45 9 x 6 = 54 9 x 7 = 63 9 x 8 = 72 9 x 9 = 81

In [ ]:
i = 0
while(i<3):
  print(i, "컴퓨터과 3학년 1반")
  i = i + i

In [43]:
def menu():
  print("##################")
  print("# 1, 덧셈    #")
  print("# 2, 뺄셈    #")
  print("# 3, 나눗셈  #")
  print("# 4, 곱셈    #")
  print("# 5, 종료    #")

while True :
  menu()
  select = int(input("메뉴를 선택 : "))
  if select == 5:
    break

##################
# 1, 덧셈    #
# 2, 뺄셈    #
# 3, 나눗셈  #
# 4, 곱셈    #
# 5, 종료    #
메뉴를 선택 : 5

In [ ]:
def menu():
  print("##################")
  print("# 1, 덧셈    #")
  print("# 2, 뺄셈    #")
  print("# 3, 나눗셈  #")
  print("# 4, 곱셈    #")
  print("# 5, 종료    #")

  def menu():
    num1 = float(input("첫번째 숫자를 입력 : "))
    num2 = float(input("두번째 숫자를 입력 : "))
    sum = num1 + num2
    return sum

  def fff():
    num1 = float(input("첫번째 숫자를 입력 : "))
    num2 = float(input("두번째 숫자를 입력 : "))
    sub = num1 - num2
    return sub

  def aiai():
    num1 = float(input("첫번째 숫자를 입력 : "))
    num2 = float(input("두번째 숫자를 입력 : "))
    div = num1 / num2
    return div

  def ddd():
    num1 = float(input("첫번째 숫자를 입력 : "))
    num2 = float(input("두번째 숫자를 입력 : "))
    mul = num1 * num2
    return mul

while True :
  menu()
  select = int(input("메뉴를 선택 : "))
  if select == 5:
    break
  elif select == 1:
    sum = menu()
    print("두수의 덧셈 결과 : ", sum)
  elif select == 2:
    sub = fff()
    print("두수의 뺄셈 결과 : ", sub)
  elif select == 3:
    div = aiai()
    print("두수의 나누셈 결과 : ", div)
  elif select == 4:
    mul = ddd()
    print("두수의 곱셈 결과 : ", mul)

##################
# 1, 덧셈    #
# 2, 뺄셈    #
# 3, 나눗셈  #
# 4, 곱셈    #
# 5, 종료    #
메뉴를 선택 : 1
##################
# 1, 덧셈    #
# 2, 뺄셈    #
# 3, 나눗셈  #
# 4, 곱셈    #
# 5, 종료    #
두수의 덧셈 결과 :  None
##################
# 1, 덧셈    #
# 2, 뺄셈    #
# 3, 나눗셈  #
# 4, 곱셈    #
# 5, 종료    #